body{
    background-color: beige;
}
.background_color{
    background-color: rgb(19, 58, 59);
}
.fondo_imagen {
    background-image: url("../img/fondo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.margen_interior {
    padding-top: 50px;
    padding-bottom: 50px;
}
.color_naranja{
    color: orange;
}
.texto_centro{
    text-align: center;
}
.color_blanco{
    color: white;
}
.color_azuloscuro{
    color: rgb(19, 58, 59);
}